#login-links{
    text-align: center;
}
#login-links p{
    padding-top: 0.2em;
}
.btn-large{
    background-color: #2F80ED;
    width: 100%;
}
.card-action{
    height: 210px;
}
.teal.lighten-1{
    background: url("../img/logo2.png") no-repeat center !important;
}
.form-field button{
    margin-top: 1em;
}
html{
    color: #D3D3D3 !important;
}
.card-content i{
    position: absolute;
    float: right;
    margin: 0 -23px;
    color: #aaa;
    transition: 0.3s;
}
#nome, #nasc, #email, #email, #telefone, #cidade, #uf, #senha{
    border-radius: 2px !important;
    box-shadow: .1px .1px 0.7px rgba(51,51,51,15) !important;
}

#ajust{
    text-align: justify;
}